// FONTS
h1 {font-size: clamp(9px, 2.5vw, 18px);}
h2 {font-size: clamp(9px, 2vw, 16px);}
h3 {font-size: clamp(9px, 2vw, 16px);}
span {font-size: clamp(9px, 2vw, 16px);}

// HEADER
header {
    img {
        width: 20vw;
        padding: 2% 0 1% 0;
    }
}

// LOCATION
.form {
    padding: 0 0 3% 20%;

    &__bg {
        i{
            font-size: 4vw;
            padding-top: 2.5%;
        }
    }

    &__plc {

        &::placeholder {
            font-size: 2.8vw;
        }
    }
}

.layout {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    gap: 10%;
}

.acc {
    width: 45%;
    justify-content: space-between;
    border-radius: 25%;
    margin-top: 2vw;
    margin-left: 2vw;
    max-width: 600px;

    h2 {
        padding-bottom: 8%;
        padding-top: 0;
    }

    &__title {
        padding-bottom: 1%;
    }

    &__btn {
        font-size: clamp(9px, 2vw, 28px);
        &__padding-bottom {
            padding-bottom: 1%;
        }
    }
}

.concept {
    width: 50%;
    max-width: 600px;
    
    i {
        padding-right: 1vw;
    }
    
    h1 {
        padding: 0 0 0 5vw;
    }

    &__step {
        border-radius: 2vw;
        margin: 1.5vh 8% 1.5vh 8%;
        padding: 40px 0px;
        max-width: 600px;

        &__text {
            padding: 4vw;
        }

        &__circle {
            width: clamp(18px, 4vw, 45px);
            height: clamp(18px, 4vw, 45px);
            line-height: clamp(18px, 4vw, 45px);
        }
    }
}

.card {

    max-width: 650px;
    max-height: 320px;

    &__img {
        height: 15vw;
        width: 100%;
        max-width: 650px;
        max-height: 215px;
    }

    &__tag {
        margin-top: 2vw;
        margin-left: 3vw;
        height: 3.2vw;
        width: 12vw;
        font-size: 2.5vw;
        line-height: 3vw;
    }
}

.store { max-width: 1440px;}

.store__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}